<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.incomeexpense">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/moneyplaner"
        android:label="@string/app_name"
        android:roundIcon="@drawable/moneyplaner"
        android:supportsRtl="true"
        android:theme="@style/Theme.IncomeExpense"
        tools:replace="android:icon">
        <activity
            android:name=".Activities.resetPassActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.yearAnalysisActivity"
            android:exported="false"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.MonthAnalysisActivity"
            android:exported="false"
            android:parentActivityName=".Activities.HomeActivity"
            />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.expenseAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.incomeAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginRegistrationActivity"
            android:exported="true"
            android:theme="@style/loginregistration" />
    </application>

</manifest>